@{
    Layout = "_Layout";
}

<h1>Sets</h1>

<button id="refreshButton" class="btn btn-primary mb-3">Refresh</button>

<table id="setsTable" class="table">
</table>

@section Scripts {
    <script src="~/js/sets.js"></script>
}